@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

body {
  position: relative;

  /* default font */
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1rem;

  /* default color */
  background-color: #f3f4f6; /* bg-gray-100 */
  color: #2d3748; /* text-gray-800 */

  /* default spacing and size */
  width: 100lvw;
  min-height: 100lvh;
}

/* Remove number input spinners for Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number input spinners for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.card {
  @apply p-4 rounded-xl bg-white shadow-sm;
}

.card-hover {
  @apply transition-all duration-200 hover:bg-gray-50 hover:scale-[1.02] hover:shadow-md active:scale-95;
}
